.container {
    display: flex;
}

.divCalendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;

    h2 {
        margin-left: 1vw;
    }

    button {
        margin-top: 3vh;
        padding: 1.5vh 3vw;
    }

}

.divStats {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

@media (max-width: 1600px) {
    .container {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .divStats div {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .divCalendar h2 {
        margin-left: 0;
    }

    .divCalendar button {
        margin-left: 0;
    }
}