.wrapper {
  position: relative;
}

.parametres {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  border: solid;
  border-color: #2B3244;
  background: #C54844;
  padding: 3vh 4vw;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: space-evenly;

  button {
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    cursor: pointer;
    padding: 1vh;
    transition: background 0.2s ease-in-out;
    font-weight: 0;
  }

  button:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .notificationSection {
    text-align: center;
    align-items: center;
    justify-content: center;

    .preferences {
      display: flex;
      flex-direction: column;
      color: white;
      font-size: 15px;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

      input {
        margin-top: 2vh;
      }
    }
  }

}