.tablecontainer {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    margin-left: 2vw;
    margin-right: 5vw;

    @media (max-width: 1600px) {
        margin-left: 0;
        margin-right: 0;
        width: 100%
    }
}
.tickettable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    table-layout: fixed;
}

.tickettable th, .tickettable td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tickettable th {
    background-color: #b83230;
    color: white;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
}

.tickettable td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.tickettable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tickettable tr:hover {
    background-color: #f1f1f1;
}

.ticket {
    color: #2B3244;
    font-weight: 900;
    -webkit-text-stroke: 0.25px #C2BEB5;
}

.result {
    color: #C54844;
    font-weight: 900;
    -webkit-text-stroke: 0.25px #C2BEB5;
}