.container {

    .chargement {
        font-size: 24px;
        color: #2B3244;
        font-weight: 900;
        -webkit-text-stroke: 0.25px #C2BEB5;
    }

    .error {
        font-size: 24px;
        color: #C54844;
        font-weight: 900;
        -webkit-text-stroke: 0.25px #C2BEB5;
    }

    .ticket {
        font-size: 24px;
        color: #2B3244;
        font-weight: 900;
        -webkit-text-stroke: 0.25px #C2BEB5;
    }

    .result {
        font-size: 24px;
        color: #C54844;
        font-weight: 900;
        -webkit-text-stroke: 0.25px #C2BEB5;
    }
}